html {
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: ".SFNSDisplay-Regular", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Calibri", sans-serif !important;
    line-height: 1.2 !important;
    background-color: #e5e5e5;
    background: url(../img/texture_bg.jpg) repeat repeat;
}

/* main components */

.parent-container {
    height: 100%;
    width: 100%;
    float: right;
    margin-left: -320px;
}

.left-side {
    position: relative;
    padding: 12px;
    width: 320px;
    max-width: 320px;
    background-color: #f1f1f1;
    border-right: 1px dotted black;
    float: left;
    height: 100vh;
}

.right-side {
    position: absolute;
    /* background-color: #c6c6c6; */
    /* margin-left: 320px; */
    /* width: calc(100vw - 320px); */
    width: 100vw;
    height: 100vh;
}

.nav-custom {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.container {
    width: 100% !important;
}

.nav {
    padding-top: 14px !important;
}

.navbar {
    margin-bottom: 10px !important;
    /*border-bottom: 1px dotted black;*/
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.25) !important;
    min-height: 88px !important;
}

.navbar-right {
    margin-right: 0px !important;
    padding-top: 0px !important;
}

.nav-title {
    font-weight: bold;
    font-size: larger;
    position: absolute;
    z-index: 100;
    width: 100vw;
    text-align: right;
    padding-right: 30px;
    top: 16px;
    pointer-events: none;
}

.nav-subtitle {
    font-size: 0.9em;
    text-align: right;
    pointer-events: none;
    color: #7f7f7f;
    margin-top: 14px !important!
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    font-weight: bold;
}

.title {
    font-size: 0.9em;
    font-weight: bold;
    color: #333333;
    text-align: right;
    line-height: 18px;
}

/* portal/viewer */

#portal {
    height: calc(100vh - 24px - 72px - 6px);
}

.portal-container, .viewer-container {
    padding: 12px 12px 12px 12px;
    margin: 2px 12px 12px 12px;
    background-color: white;
    box-shadow: 0px 1px 4px #3c3c3c !important;
    overflow-y: scroll;
}

.viewer-container {
    height: calc(100vh - 24px - 72px - 16px);
}

.portal-container {
    height: calc(100vh - 24px - 72px - 6px);
    max-height: calc(100vh - 24px - 72px - 6px);
}

.portal-content-body-paragraph {
    margin: 0px;
    padding-bottom: 10px;
}

.portal-content-footer-paragraph {
    margin: 0px;
}

/* partition heights needed some customization for Firefox compatibility */

.portal-corner-partition {
    width: calc(50% - 6px); 
    height: calc(50vh - 68px); 
    float: left;
}

.portal-ns-partition {
    width: 100%;
    height: calc(25vh - 40px);
    float: left;  
}

.portal-corner-partition-content-header, .portal-ns-partition-content-header {
}

.portal-corner-partition-content-body, .portal-ns-partition-content-body {
}

.portal-corner-partition-content-top-section, .portal-ns-partition-content-top-section {
    height: 50%;
}

.portal-corner-partition-content-bottom-section, .portal-ns-partition-content-bottom-section {
    height: 50%;
}

.portal-corner-partition-content-bottom-aligner, .portal-ns-partition-content-bottom-aligner {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}

.portal-corner-partition-content-bottom-body, .portal-ns-partition-content-bottom-body {
    display: inline-block;
    width: 100%;
}

.portal-corner-partition-content-bottom-body-controls, .portal-ns-partition-content-bottom-body-controls {
    float: left;
}

.portal-corner-partition-content-bottom-body-go, .portal-ns-partition-content-bottom-body-go {
    float: right;
}

.portal-corner-partition-nw-content {
}

.portal-corner-partition-ne-content {
}

.portal-corner-partition-sw-content {
}

.portal-corner-partition-se-content {
}

.portal-corner-partition-nw {
    margin-bottom: 6px;
    margin-right: 6px;
}

.portal-corner-partition-ne {
    margin-bottom: 6px;
    margin-left: 6px;
}

.portal-corner-partition-sw {
    margin-top: 6px;
    margin-right: 6px;
}

.portal-corner-partition-se {
    margin-top: 6px;
    margin-left: 6px;
}

.portal-ns-partition-n {
    margin-bottom: 6px;
}

.portal-ns-partition-s {
    margin-top: 6px;
}

/* brand */

.brand-container-viewer {
    top: -2px;
    position: relative;
}

.brand-logo {
    max-height: 20px;
}

.brand-text {
    position: relative;
    top: 1px;
    left: 3px;
    font-size: 1.2em;
    font-weight: 600;
    color: #333333;
}

.brand-title {
    font-weight: 600;
    margin: 0px !important;
    padding: 0px !important;
}

.brand-subtitle {
    font-size: 0.9em;
    font-weight: 100;
    pointer-events: none !important;
    opacity: 1 !important;
}

/* panel */

.panel {
    box-shadow: 0px 1px 2px #3c3c3c !important;
    margin-bottom: 10px !important;
    border-radius: 0 !important;
}

.panel-heading {
    padding: 8px !important;
    margin: 0 !important;
    font-weight: 600 !important;
    background-color: #e8e8e8 !important;
    border-radius: 0px !important;
}

.panel-title {
    font-size: 0.95em !important;
    font-weight: bold;
}

.panel-body {
    padding: 8px !important;
    margin: 0 !important;
    font-size: 0.9em !important;
}

.btn-group-panel-custom {
    float: right !important;
}

.form-group-panel-custom {
    float: right !important;
    margin-bottom: 0px;
}

.form-control-panel-custom {
    width: 180px;
    height: 18px !important;
    padding: 0px;
    font-size: 0.9em;
    font-weight: 500;
}

/* labels */

label {
    width: 360px;
    display: inline-block;
    margin-bottom: 0px !important;
    font-size: 0.9em !important;
    font-weight: 500;
}

.label-outer-next {
    margin-top: 10px;
}

.label-title-button-group {
    position: relative;
    top: 4px;
}

.label-title-dropdown {
    position: relative;
    top: 2px;
}

/* about modal */

.about-modal-list {
    list-style-type: square;
}

/* states */

.nav-dropdown > a {
    text-decoration: none;
    color: #333;
}

.dropdown-menu[aria-labelledby = basic-nav-dropdown-paired] {
    left: 20px;
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
}

.dropdown-menu[aria-labelledby = basic-nav-dropdown-single] {
    left: 20px;
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
}

.ReactTable {
    min-width: 500px !important;
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
}

.state0 {
    width: 20;
    float: left;
    display: inline;
    padding: .2em;
    border: 1px;
}

.state1 {
    background-color: #ff0000;
    width: 20;
    float: left;
    display: inline;
    padding: .2em;
}

.state2 {
    background-color: #ff4500;
    width: 20;
    float: left;
    display: inline;
    padding: .2em;
}

.state3 {
    background-color: #32cd32;
    width:20;
    float: left;
    display: inline;
    padding: .2em;
}

.state4 {
    background-color: #008000;
    width: 20;
    float: left;
    display: inline;
    padding: .2em;
}

.state5 {
    background-color: #006400;
    width: 20;
    float: left;
    display: inline;
    padding: .2em;
}

.state6 {
    background-color: #c2e105;
    width: 20;
    float: left;
    display: inline;
    padding: .2em;
}

.state7 {
    background-color: #ffff00;
    width: 20;
    float: left;
    display: inline;
    padding: .2em;
}

.state8 {
    background-color: #66cdaa;
    width: 20;
    float: left;
    display: inline;
    padding: .2em;
}

.state9 {
    background-color: #8a91d0;
    width: 20;
    float: left;
    display: inline;
    padding: .2em;
}

.state10 {
    background-color: #cd5c5c;
    width: 20;
    float: left;
    display: inline;
    padding: .2em;
}

.state11 {
    background-color: #e9967a;
    width: 20;
    float: left;
    display: inline;
    padding: .2em;
}

.state12 {
    background-color: #bdb76b;
    width: 20;
    float: left;
    display: inline;
    padding: .2em;
}

.state13 {
    background-color: #808080;
    width: 20;
    float: left;
    display: inline;
    padding: .2em;
}

.state14 {
    background-color: #c0c0c0;
    width: 20;
    float: left;
    display: inline;
    padding: .2em;
}

.state15 {
    background-color: #ffffff;
    width: 20;
    float: left;
    display: inline;
    padding: .2em;
}

.react-bootstrap-button-custom-style {
    font-weight: 500;
}

.selected-item {
    font-weight: 700;
    font-style: italic;
}

.disabled-item, .disabled {
    pointer-events: none;
    font-weight: 100;
    color: #c2c2c2;
}

.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
    color: #c2c2c2 !important;
}