@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

#root {
  height: calc(100vh);
  width: calc(100vw);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 
    ui-sans-serif, 
    system-ui, 
    -system-ui, 
    -apple-system,
    BlinkMacSystemFont,
    Roboto, Helvetica, Arial, 
    sans-serif, 
    "Apple Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  cursor: default;
  user-select: none;
  overscroll-behavior: contain;
  touch-action: none !important;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

b, strong {
  font-weight: 500 !important;
}

em {
  font-weight: 400;
  letter-spacing: 0.3px;
}

*:focus {
  outline: none !important;
}

/* prevent the entire page becoming a control surface that opens/closes the drawer */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* attempt to recolor the pretty-checkbox controls */
.pretty input:checked~ .state.p-warning label:after,
.pretty.p-toggle .state.p-warning label:after {
  background-color: blue !important;
}
.pretty input:checked~ .state.p-warning-o label:before,
.pretty.p-toggle .state.p-warning-o label:before {
  border-color: blue !important;
}
.pretty input:checked~ .state.p-warning-o .icon,
.pretty input:checked~ .state.p-warning-o .svg,
.pretty input:checked~ .state.p-warning-o svg,
.pretty.p-toggle .state.p-warning-o .icon,
.pretty.p-toggle .state.p-warning-o .svg,
.pretty.p-toggle .state.p-warning-o svg {
  color: blue !important;
  stroke: blue !important;
}
.pretty.p-default:not(.p-fill) input:checked~ .state.p-warning-o label:after {
  background-color: blue !important;
}
.pretty.p-switch input:checked~ .state.p-warning:before {
  border-color: blue !important;
}
.pretty.p-switch.p-fill input:checked~ .state.p-warning:before {
  background-color: blue !important;
}
.pretty.p-switch.p-slim input:checked~ .state.p-warning:before {
  border-color: blue !important;
  background-color: blue !important;
}
.pretty input[disabled] {
  display: unset !important;
}

.epilogos-portal-container {}

.epilogos-portal-container-mobiledevice {}

.epilogos-viewer-container-overlay, .epilogos-portal-container-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
}

.epilogos-viewer-container-overlay, .epilogos-portal-container-overlay {
  z-index: 100000;
}

.epilogos-viewer-container-vertical-drop-main, .epilogos-viewer-container-interval-drop-main, .epilogos-viewer-container-interval-drop-query {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100vw);
  height: calc(100vh);
  z-index: 1;
  pointer-events: none;
  opacity: 0;
/*   display: none; */
}

.epilogos-viewer-container-vertical-drop-main-label {
/*   left: calc(50vw); */
  transform: rotate(270deg);
  transform-origin: left bottom 0;  
}

.epilogos-viewer-container-interval-drop-main-label {
  text-align: center;
  letter-spacing: 0.005em;
}

.epilogos-viewer-container-vertical-drop-main-label, .epilogos-viewer-container-interval-drop-main-label {
  position: inherit; 
  letter-spacing: 0.05em;
  font-size: 1em;
  font-weight: 500;
  color: white;
  pointer-events: all;
  padding: 0px;
  background: none;
  opacity: 0.75;
  z-index: 10000;
}

.epilogos-viewer-container-vertical-drop-main-label:hover, .epilogos-viewer-container-interval-drop-main-label:hover {
  opacity: 1;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.epilogos-viewer-container-vertical-drop-main-top, .epilogos-viewer-container-interval-drop-main-left-top, .epilogos-viewer-container-interval-drop-main-right-top, .epilogos-viewer-container-vertical-drop-query-top, .epilogos-viewer-container-interval-drop-query-left-top, .epilogos-viewer-container-interval-drop-query-right-top {
  position: inherit;
/*   left: calc(50vw); */
  width: 49%;
  border-left: rgba(183, 183, 183, 0.75) 1px dashed;
}

.epilogos-viewer-container-vertical-drop-main-bottom, .epilogos-viewer-container-interval-drop-main-left-bottom, .epilogos-viewer-container-interval-drop-main-right-bottom {
  position: inherit;
  /* left: calc(50vw); */
  width: 49%;
  border-left: rgba(183, 183, 183, 0.75) 1px dashed;
}

.navbar-top-custom {
  padding-right: 15px !important;
  cursor: default !important;
  justify-content: safe !important;
  max-height: 56px;
}

.navbar-brand-custom {
  max-height: 40px;
}

.navbar-righthalf-custom {
  position: relative;
  top: 5px;
}

.navbar-brand {
  margin-right: 5px !important;
}

.navbar-middle {
  display: flex;
}

.navbar-righthalf {
  /*display: none;*/
  position: relative;
  top: 7px;
}

.navigation-summary {
  color: white;
  letter-spacing: 0.025em;
  font-size: 0.925em;
  font-weight: 400;
  display: inline-flex;
  position: relative;
  top: 1px;
  max-height: 39px;
}

.navigation-summary-mobiledevice {
  color: white;
  display: inline-flex;
}

.navigation-summary-parameters {
  display: inline-flex;
  color: white;
  text-align: left;
  letter-spacing: 0.0125em;
  font-size: 0.925em;
  font-weight: 400;
  /* padding-left: 20px; */
  position: relative;
  top: 1px;
  /* opacity: 0; */
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  z-index: 10001;
}

.navigation-summary-assembly {
  position: relative;
  top: 1px;
}

.navigation-summary-position {
  position: relative;
  top: 2px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.navigation-summary-position-mobiledevice {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.navigation-summary-position-mobile-landscape {
  color: white;
  letter-spacing: 0.025em;
  font-size: 0.9em;
}

.navigation-summary-position-clipboard {
  position: relative;
  top: -1px;
  font-size: 1em;
  margin-left: 2px;
  margin-right: 15px;
  color: rgb(230,230,230);
}

button.recommender-button, input[type="submit"].recommender-button, input[type="reset"].recommender-button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.epilogos-recommender-element, .epilogos-recommender-element-disabled {
  /* padding-left: 10px; */
  z-index: 1000;
  display: inherit;
  margin-left: 2px;
  margin-right: 20px;
  top: 1px;
  position: relative;
}

.epilogos-recommender-element-no-margin {
  margin-left: unset;
  margin-right: 18px;
}

.epilogos-recommender-element-disabled {
  /* padding-left: 10px; */
  /* cursor: default; */
  /* pointer-events: none; */
  display: inherit;
  padding-right: 15px;
}

.epilogos-recommender-element-hidden {
  visibility: hidden;
}

.epilogos-suggestion-element, .epilogos-suggestion-element-disabled {
  /* padding-left: 10px; */
  z-index: 1000;
  display: inherit;
  margin-left: 15px;
  top: 1px;
  position: relative;
}

.epilogos-suggestion-element-disabled {
  /* padding-left: 10px; */
  /* cursor: default; */
  /* pointer-events: none; */
  display: inherit;
}

.epilogos-suggestion-element-hidden {
  visibility: hidden;
}

.epilogos-suggestion-link-element {
  z-index: 1000;
  display: inherit;
}

.epilogos-suggestion-link-element-disabled {
/*   cursor: default; */
/*   pointer-events: none; */
  display: inherit;
}

.genome-select-element-hidden {
  visibility: hidden;
}

.genome-select-element-disabled {
  z-index: 1000;
  display: inherit;
}

.genome-select-element {
  display: inherit;
  padding-top: 5px;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -5px;
  margin-right: -5px;
  position: relative;
  top: -5px;
  background-color: white;
}

.navigation-recommender {
  position: relative;
  top: -1px;
  font-size: 1em;
  margin-left: 2px;
  margin-right: 0px;
  font-weight: 600;
  color: rgb(230,230,230);
}

.navigation-recommender:hover {
  cursor: pointer;
  color: #cccccc;
}

.navigation-recommender-disabled {
  font-weight: 600;
  color: #6f6f6f !important;
  margin-right: 0px;
}

.navigation-summary-position-clipboard:hover {
  cursor: pointer;
  color: #cccccc;
}

.navigation-summary-position-clipboard-inverse, .navigation-recommender-inverse {
  position: relative;
  top: -2px;
  color: rgb(25,25,25);
  z-index: 100000;
}

.navigation-summary-header-no-shift, .navigation-summary-position-clipboard-inverse-no-shift, .navigation-summary-position-clipboard-inverse-label-no-shift {
  color: rgb(25,25,25);
  z-index: 100000;
}

.navigation-summary-header-no-shift {
  font-weight: 500;
  font-variant: small-caps;
}

.navigation-summary-position-clipboard-inverse-label-no-shift {
  cursor: default;
}

.navigation-summary-position-clipboard-inverse:hover, .navigation-summary-position-clipboard-inverse-no-shift:hover {
  cursor: pointer;
  color: #726767;
}

.navigation-summary-position-region-label {
  font-size: smaller;
}

.navigation-summary-position-region-state-color-box {
  position: relative;
  top: 1px;
  min-height: 10px;
  min-width: 10px;
  outline: 1px dotted grey;
}

.navigation-summary-download {
  position: relative;
  top: -3px;
  right: -4px;
  font-size: 1.25em;
  padding-bottom: 10px;
  padding-top: 2px;
  margin-left: 6px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  border-right: 1px black solid;
}

.navigation-summary-download-inner {
  position: relative;
  top: -2px;
}

.navigation-summary-download-inner:hover {
  color: #cccccc;
}

.navigation-summary-download-hover {
  color: black;
  background-color: white;
}

.navigation-summary-download-disabled {
  color: #525252;
  cursor: not-allowed !important;
  pointer-events: none;
}

.navigation-summary-download-popup {
  position: relative;
  right: 11px;
  color: black;
  background-color: white;
  padding-top: 6px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  z-index: 1000;
  font-size: 1.1em;
  letter-spacing: 0.025em;
  border-left: 1px black solid;
  border-bottom: 1px black solid;
  border-right: 1px black solid;
}

.navigation-genome-popup {
  right: unset;
}

.download-route-label {
  font-variant: small-caps;
  font-weight: 400;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  line-height: 0.9em;
}

.genome-route-label {
  font-variant: small-caps;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 0.9em;
}

.genome-route-label-next {
  padding-top: 5px;
  padding-bottom: 2px;
}

.download-route-link, .genome-route-link, .genome-route-link-disabled {
  font-variant: small-caps;
  font-weight: 600;
  font-size: 0.9em;
  cursor: pointer;  
  color: blue;
}

.genome-route-link-disabled {
  cursor: default;
  color: #333333;
}

.genome-route-link, .genome-route-link-disabled {
  font-variant: none !important;
}


.download-route-link:hover, .genome-route-link:hover {
  text-decoration: underline;
  color: blue;
}

.brand {
  font-size: 1.2em;
  float: left;
  margin-right: 5px;
}

.brand-other {
  margin-top: 10px;
}

.brand-content {
  font-size: 1em;
  font-weight: 400 !important;
  line-height: 1.1em;
}

.brand-content-viewer {
  font-size: 0.8em;
}

.brand-content-logo {
  width: 30px;
}

.brand-content-logo-viewer {
  width: 24px;
  vertical-align: unset !important;
}

.brand-content-text-viewer {
  height: 25px;
  vertical-align: unset !important;
}

.epilogos-viewer-hamburger-button {
  padding-right: 8px;
  position: relative;
  top: -1px;
}

.brand-content-logo-other {
  width: 20px;
  display: inline-block;
  margin-left: 0px;
}

.breadcrumb {
  padding-left: 8px !important; 
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.brand-content-header-portal {
  font-size: 1.75em;
  margin-top: 30px;
  letter-spacing: 0.5px;
  color: #cdcdcd;
}

.brand-content-header-viewer {
  font-size: 1.15em;
  margin-top: 1px;
  margin-left: 4px;
  margin-right: 3px;
  letter-spacing: 0.9px;
  color: #cdcdcd;
  float: left;
  cursor: pointer !important;
}

.brand-content-subheader {
  font-weight: lighter;
  margin-top: 3px;
  letter-spacing: 2px;
  color: #cdcdcd;
  float: left;
}

.brand-content-no-subheader {
  font-size: 1.1em;
  font-weight: bold;
}

.brand-content-emphasis {
  font-weight: 400;
}

.navbar-bottom-custom {
  border-top: 1px dotted #c7c7c7;
  -webkit-box-shadow: 0 -3px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -3px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -3px 3px 0px rgba(0, 0, 0, 0.2);
}

.navbar-bottom-custom-other {
  border-top: 1px dotted #c7c7c7;
}

.contact {
  float: left;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 20px;
}

.contact-content {
  font-size: 0.8em;
  line-height: 1.1em;
}

.contact-content-header {
  font-size: 0.9em;
  font-weight: bolder;
  margin-bottom: 5px;
}

.contact-content-subheader {
  font-size: 0.9em;
  font-weight: normal;
  letter-spacing: 0.3px;
}

.contact-content-no-subheader {
  font-size: 1.1em;
  font-weight: bold;
}

li {
  list-style-type: none !important;
}

.higlass-content {
  cursor: grab;
  width: calc(100vw);
}

.higlass-content-mobiledevice {
  z-index: 499 !important;
}

.higlass-query-content {
  cursor: default !important;
  background-color: black;
}

.higlass-main-content {
  background-color: black;
}

.epilogos-content-query {
  font-size: 0.9em;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: black;
  position: relative;
  z-index: 1200;
}

.epilogos-content-query-child {
}

.epilogos-annotation-content {
  font-size: 0.9em;
  overflow-y: auto;
}

.epilogos-annotation-content-success {
  color: #1fc600 !important;
  font-weight: 600;
}

.epilogos-annotation-content-error {
  color: #d70000 !important;
  font-weight: 600;
}

.epilogos-content-header {
  font-size: 6em;
  font-weight: 200;
  letter-spacing: 3.2px;
  color: white;
  cursor: pointer;
  opacity: 1.0; 
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.epilogos-content-query-autocomplete {
  margin-top: 15px;
  margin-bottom: 15px;
}

.epilogos-content-hiw-divider-text-parent {
  cursor: pointer;
  position: relative;
  top: 10px;
  height: 40px;
}

.epilogos-content-hiw-divider-text {
  text-align: center;
  width: 100vw;
  font-size: 0.8em;
}

.epilogos-content-hiw-divider-widget {
/*   color: #173365; */
  color: blue;
  position: relative;
  top: -1px;
}

.epilogos-content-hiw-peek-parent {
  background-color: #173365;
  min-height: 15px;
  max-height: 15px;
  height: 15px;
}

.epilogos-content-column-header {
  text-align: center;
  background-color: #173365;
  padding-bottom: 15px;
}

.epilogos-content-column-header-tools {
  padding-top: 15px;
  background-color: #81afed;
}

.epilogos-content-column-header-credits {
  padding-top: 15px;
  background-color: #3d99cb;
}

.epilogos-content-column-header-emphasis {
  color: white;
  font-size: 2.2em;
  font-weight: 500;
  letter-spacing: 1px;
}

.epilogos-annotation-data-custom-table>thead>tr>th {
  padding: 5px;
  border: none;
}

.epilogos-annotation-data-custom-table>tbody>tr>td {
  padding: 5px;
  border: none;
  outline: none;
  font-size: smaller;
}

.epilogos-annotation-data-custom-header {
  font-weight: 500;
}

.epilogos-content-placeholder > img {
  padding-left: 10px;
  padding-right: 10px;
}

.epilogos-content-placeholder-img {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #565656;
}

.epilogos-content-placeholder-img-zoom {
  padding: 10px;
  background-color: white;
  border: 1px solid #565656;
}

.epilogos-content-placeholder-text {
  font-size: 1.1em !important;
}

.epilogos-content-ero-search {
  font-size: 1em;
  letter-spacing: 0.25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 300px;
}

.epilogos-content-ero-search-text {
  font-size: 0.7em;
  font-weight: 400;
  color: #737373;
  width: 300px;
  padding-top: 0px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.epilogos-content-ero-block {
  display: inline-block;
  top: -0px;
  position: relative;
}

.dropdown-menu.show {
  max-height: calc(33vh);
  overflow: scroll; 
}

.btn {
  position: relative;
  top: -2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.epilogos-offscreen-content {
  user-select: text;
}

.epilogos-offscreen-content-img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 25px;
  background-color: white;
  /* border: 1px solid #565656; */
  max-width: 600px;
}

.epilogos-offscreen-content-row {
  padding: 20px;
}

.epilogos-offscreen-content-row-text-block {
  font-size: 1.25em;
}

.epilogos-offscreen-content-row-text-block-contact {
  color: white;
}

.epilogos-offscreen-content-placeholder-text-lead {
  font-size: 1.65em;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.epilogos-offscreen-content-placeholder-table-container-item-line {
  padding-bottom: 20px;
}

.epilogos-offscreen-content-placeholder-table-container-item-line-header {
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 0.025em;
  padding-bottom: 10px;
}

.epilogos-offscreen-content-placeholder-text-center {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

.epilogos-offscreen-content-placeholder-text-right {
  padding-right: 20px;
  padding-left: 20px;
}

.epilogos-offscreen-content-placeholder-img-left {
  padding-right: 20px;
  padding-left: 20px;
  float: right;
}

.epilogos-offscreen-content-placeholder-text-left {
  padding-right: 20px;
  padding-left: 20px;
  float: right;
}

.epilogos-offscreen-content-placeholder-img-right {
  padding-right: 20px;
  padding-left: 20px;
}

.epilogos-offscreen-content-contact-row {
  padding: 20px;
  letter-spacing: 0.025em;
}

.epilogos-offscreen-content-placeholder-table-container {
  display: table;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  height: 300px;
  max-width: 600px;
}

.epilogos-offscreen-content-placeholder-table-container-item {
  display: table-cell;
  vertical-align: middle;
}

.epilogos-offscreen-content-placeholder-table-container-item-contact {
  display: flex !important;
}

.epilogos-offscreen-content-placeholder-table-container-item-contact-logo {
  float: left;
}

.epilogos-offscreen-content-placeholder-table-container-item-contact-logo img {
  height: 35px;
  margin-top: 3px;
}

.epilogos-offscreen-content-placeholder-table-container-item-contact-name {
  float: right;
  margin-left: 20px;
  width: 220px;
  line-height: 1.15em;
  font-size: 0.8em;
}

.epilogos-offscreen-content-placeholder-table-container-item-contact-details {
  width: 250px;
  line-height: 1.15em;
  font-size: 0.8em;
}

.epilogos-offscreen-content-placeholder-table-container-item-strong {
  font-weight: 700;
}

.epilogos-offscreen-content-placeholder-table-container-item-normal {
  font-weight: 500;
}

.epilogos-offscreen-content-placeholder-table-container-item-light {
  font-weight: 300;
}

.epilogos-offscreen-content-placeholder-table-container-item-light a {
  color: white !important;
}

.epilogos-offscreen-content-placeholder-table-container-item-smaller {
  font-size: smaller;
}

.epilogos-content-search-input {
  background: #fff;
  display: flex;
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  margin: 0 auto;
  height: 36px !important;
  width: 300px !important;
  padding-left: 10px;
  padding-right: 10px;
}

.epilogos-viewer-container-parent {
  overflow: hidden;
}

.epilogos-viewer-search-input {
  display: flex;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  margin: 0 auto;
  height: 25px !important;
  width: 215px !important;
  /* font-size: 0.7em; */
  font-size: 0.9rem;
  position: relative;
  top: 1px;
  /* background-image: url(./components/Autocomplete/search.dddddd.png); */
  background-image: url(./components/Autocomplete/search.png);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 9px 7px;
  background-origin: border-box;
  /* background-color: #525252; */
  background-color: rgb(230, 230, 230);
  /* color: white; */
  color: black;
  padding-left: 28px;
  /* margin-right: 16px; */
}

.epilogos-viewer-search-input-viewermobile {
  height: 22px !important;
  background-position: 8px 6px;
}

.epilogos-viewer-search-input-parent {
  z-index: 11001 !important;
}

.epilogos-viewer-search-input-mobile-portrait {
  width: 190px !important;
}

.epilogos-viewer-search-input-mobile-landscape {
  width: 230px !important;
  max-height: 330px !important;
}

input.epilogos-content-search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb;
  font-weight: 500;
  font-size: 1.1em;
  opacity: 0.6; /* Firefox */
}

input.epilogos-viewer-search-input::placeholder {
  /* color: #ddd; */
  color: black;
  font-weight: 400;
  /* font-size: larger; */
  /* opacity: 0.8; Firefox */
  text-align: left;
  position: relative;
  top: -1px;
}

input.epilogos-viewer-search-input:focus {
  background-position: 9px 7px !important;
}

input.epilogos-viewer-search-input:disabled::placeholder {
  /* color: #525252; */
  color: black;
  cursor: not-allowed;
}

input.epilogos-viewer-search-input:disabled {
  /* background-color: #343434; */
  background-color: rgb(120, 120, 120);
  /* color: #666; */
  color: black;
  cursor: not-allowed;
  /* background-image: url(./components/Autocomplete/search.525252.png); */
  background-image: url(./components/Autocomplete/search.png);
}

.epilogos-viewer-container-track-label-parent {
  z-index: 1;
}

.epilogos-viewer-container-track-label {
  color: black;
  position: absolute;
  font-size: 1.05em;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: right;
  z-index: 1;
  opacity: 0.25; 
  /* width: 280px; */
}

.epilogos-viewer-container-track-label-inverse-subtext {
  color: white;
  text-shadow: -1px 0 rgba(0,0,0,0.5), 0 1px rgba(0,0,0,0.5), 1px 0 rgba(0,0,0,0.5), 0 -1px rgba(0,0,0,0.5);
  font-size: 0.8rem;
  font-weight: 400;
  text-align: right;
  z-index: 501;
  opacity: 0.75;
  line-height: 1.0em;
  font-variant: small-caps;
  display: inline-block;
  position: relative;
  top: -10px;
}

.epilogos-viewer-container-track-label-small {
  color: white;
  text-shadow: -1px 0 rgba(0,0,0,0.5), 0 1px rgba(0,0,0,0.5), 1px 0 rgba(0,0,0,0.5), 0 -1px rgba(0,0,0,0.5);
  position: absolute;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: right;
  z-index: 501;
  opacity: 0.75;
  line-height: 1.1em;
}

.epilogos-viewer-container-track-label-small {
  font-size: 0.9em;
  letter-spacing: 0.005em;
}

.epilogos-viewer-container-track-label-small-inverse {
  color: rgb(112, 112, 112);
  text-shadow: -1px 0 rgba(255,255,255,0.5), 0 1px rgba(255,255,255,0.5), 1px 0 rgba(255,255,255,0.5), 0 -1px rgba(255,255,255,0.5);
  font-weight: 500;
}

.epilogos-viewer-container-track-label-inverse {
  color: rgb(206, 206, 206);
  background: none;
  padding: 0px;
  opacity: 1;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px black, 1px 0 black, 0 -1px black;
}

.epilogos-viewer-container-track-label:hover {
  opacity: 1.0; 
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}

/* .epilogos-viewer-container-track-label-inverse:hover {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} */

.epilogos-viewer-container-track-label-inverse-always-on {
  opacity: 1.0; 
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.epilogos-viewer-container-track-label-type {
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 0.05em;
}

.epilogos-viewer-container-track-label-group {
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 0.05em;
}

.epilogos-content-ps {
  background-color: rgba(0,0,0,0.08);
}

.form-control:focus {
  border-color: #ced4da !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08) !important;
}

::-webkit-input-placeholder {
  font-size: 1.0em;
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 1.0em;
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 1.0em;
  text-align: center;  
}

:-ms-input-placeholder {  
  font-size: 1.0em;
  text-align: center; 
}

.btn-custom {
  padding-left: 12px !important;
  padding-right: 12px !important;
  font-weight: 400 !important;
}

.btn-portal-custom {
  display: flex !important;
}

.btn-sm {
  font-size: 1em !important;
}

@media screen and (max-width: 1024px) {
  .epilogos-content-search-input {
    height: 34px !important;
    width: 300px !important;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .epilogos-content-ero-search-text {
    display: none;
  }
  .form-control:focus {
    border-color: #ced4da !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08) !important;
  }
  ::-webkit-input-placeholder {
    font-size: 1.1em;
    text-align: center;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 1.1em;
    text-align: center;  
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    font-size: 1.1em;
    text-align: center;  
  }
  :-ms-input-placeholder {  
    font-size: 1.1em;
    text-align: center; 
  }
}

.epilogos-content-ps-parent {
  display: flex;
  width: 100vw;
  height: 75vh;
  margin: auto;
}

.epilogos-content-ps-child {
  align-self: center;
  margin: 0 auto;
  width: 50vw; 
  height: 50vh;
  margin: 0 auto;
  text-align: center;
}

.epilogos-viewer-drawer {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08) !important;
  margin-top: 54px;
  z-index: 11000 !important;
}

.epilogos-viewer-drawer-mobiledevice {
  margin-top: 38px;
}

/* Burger menu */

.react-bootstrap-table th .order-4:before {
  margin-left: 0px !important;
}

.bm-menu {
  overflow-y: hidden !important;
}

.bm-item-list {
  color: #44433f;
}

.bm-item {
  display: inline-block;
  outline: none;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.667) !important;
}

.epilogos-viewer-settings-button {
  position: absolute;
  z-index: 100;
  left: 375px;
}

.epilogos-viewer-exemplars-button {
  position: absolute;
  z-index: 100;
  left: 375px;
}

.box-button {
  display: block;
  width: 27px;
  height: 27px;
  line-height: 25px;
  border-radius: 3px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #173365 !important;
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
  outline: none !important;
}

.box-button:focus {
  outline: none !important;
}

.box-button:hover {
  background: #005fff !important;
}

.box-button-small {
  width: 24px;
  height: 24px;
  line-height: 22px;
}

.hamburger-button {
  display: block;
  width: 22px;
  height: 27px;
  line-height: 28px;
  border-radius: 3px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
}

.hamburger-button-disabled {
  color: #525252;
  cursor: not-allowed !important;
  pointer-events: none;
}

.epilogos-viewer-hamburger-button-disabled {
  cursor: not-allowed !important;
}

.hamburger-button:hover {
  /* background: #005fff; */
}

.state-color-box {
  position: relative;
  top: 2px;
  min-height: 15px;
  min-width: 15px;
  outline: 1px dotted grey;
}

/* Autocomplete */

.suggestions {
  z-index: 1200;
  position: absolute;
  border: 1px solid #222;
  border-top-width: 1px;
  border-radius: 3px;
  list-style: none;
  margin-top: 0;
  overflow-y: auto;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  font-size: 0.8em;
}

.portal-suggestions {
  width: 300px;
  max-height: 400px;
}

.viewer-suggestions {
  width: 215px;
  max-height: 400px;
}

.viewer-suggestions-mobile-portrait {
  width: 190px;
}

.viewer-suggestions-mobile-landscape {
  width: 230px;
  max-height: 300px !important;
}

.suggestions li {
  text-align: left;
  padding: 0.75rem;
  line-height: 1.35em;
  color: rgb(20,20,20);
}

.suggestion-active,
.suggestions li:hover {
  background-color: #6d6ca5;
  color: #ffffff !important;
  cursor: pointer;
  text-align: left;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.suggestion-name {
  font-weight: 600;
  font-size: 1.2em;
}

.suggestion-description {
  font-weight: 400;
  font-size: 0.9em;
}

.suggestion-location, .suggestion-strand {
  font-weight: 400;
}

.__react_component_tooltip.show {
  opacity: 1.0 !important;
}

.elementTable {
  overflow-y: scroll;
  margin-bottom: 0px !important;
  border-top: 0px !important;
}

.elementTable > thead > tr > th {
  border-top: 0px !important;
}

.elementTable > tbody > tr > td {
  border-top: 1px dotted black !important;
}

.elementTable > tbody > tr:hover > td {
  color: white !important;
  background-color: #747474 !important;
}

.nav-tabs {
  border-bottom: 1px solid blue !important;
  font-size: 0.9em;
}

.nav-tabs .nav-link {
  border: hidden !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  padding-top: 3px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  font-variant: small-caps;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d !important;
  background-color: #ffffff !important;
}

.nav-tabs .nav-item {
  margin-bottom: -1px !important;
  background-color: white !important;
  border-bottom: 1px solid blue !important;
}

.nav-link {
  color: black !important;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: larger;
}

.nav-link.active {
  color: black !important;
  background-color: white !important;
  font-weight: 600;
  border-bottom: 3px solid blue !important;
}

.form-check-label {
  display: block !important;
}

.form-check {
  padding-left: 0.5rem !important;
  line-height: 1;
}

.radio-label-text {
  position: relative;
  top: -1px;
  font-weight: 600;
  font-size: 0.75em;
  letter-spacing: 0.01px;
}

.drawer-tab-content {
  background-color: #ffffff;
}

.drawer-settings {
  padding-top: 0px;
  color: black;
  font-size: 0.9em;
}

.drawer-settings-parameter-header {
  font-weight: 300;
  font-size: 0.85em;
  letter-spacing: 0.3px;
}

.drawer-settings-parameter-item {
  font-weight: 600;
}

.drawer-settings-parameter-body {
  padding-bottom: 15px;
}

.drawer-settings-section {
  /* padding-top: 10px; */
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.drawer-settings-section-no-top-border {
  padding-top: 10px;
  padding-bottom: 10px;
}

.drawer-settings-section-middle {
  border-top: 1px dotted rgba(119, 119, 119, 0.5);
}

.drawer-settings-section-header {
  display: flex;
  justify-content: space-between;
}

.drawer-settings-section-ao {
  padding: 0px !important;
  padding-left: 15px !important;
}

.drawer-settings-section-ao-switch {
  padding: 0px !important;
}

.drawer-all-settings-section-header-text {
  font-weight: 400;
  font-size: 1.25em;
  letter-spacing: 0.55px;
}

.drawer-all-settings-section-header-icon {
  position: relative;
  bottom: 1px;
  margin-right: 3px;
}

.drawer-settings-section-header-text {
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: 0.3px;
  position: relative;
  top: 2px;  
  padding-top: 5px;
}

.drawer-settings-section-header-ao {
  font-size: 0.9em;
  letter-spacing: 0.025em;
  padding-top: 15px !important;
}

.drawer-settings-section-header-text-strong {
  font-size: 0.95em;
  font-weight: 600;
  cursor: pointer;
}

.drawer-settings-section-body {
  /* font-size: 0.95em; */
}

.drawer-settings-section-body-content {
  padding-top: 15px;
  font-weight: 300;
}

.drawer-settings-section-body-button-group {
  font-size: 1em;
  letter-spacing: 0.3px;
}

.drawer-settings-section-body-samples-group {
  font-size: 1em;
  letter-spacing: 0.3px;
  display: flex;
}

.drawer-settings-section-body-samples-dropdown {
  padding-left: 6px;
}

.drawer-settings-section-body-notice {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 0.9rem;
}

.drawer-settings-section-body-link {
  color: blue !important;
  font-weight: 600;
  cursor: pointer;
}

.drawer-settings-mode-label, .drawer-settings-gatt-label {
  display: inline-block;
  position: relative;
  top: -6px;
  font-size: 1em;
  letter-spacing: 0.4px;
  color: black;
}

.drawer-settings-mode-label-active, .drawer-settings-gatt-label-active {
  font-weight: 600;
}

.drawer-settings-mode-label-not-active, .drawer-settings-gatt-label-not-active {
  font-weight: 300;
}

.btn-xs {
  padding: .5rem .4rem !important;
  font-size: .9rem !important;
  line-height: .5 !important;
}

.btn-grp-epilogos {
  padding-left: 4px;
}

.btn-epilogos {
  color: #ffffff !important;
  background-color: #173365 !important;
  border-color: #173365 !important;
}

.btn-epilogos:not(:disabled):not(.disabled).active {
  background-color: #005cbd !important;
  border-color: #005cbd !important;  
}

.btn-epilogos:hover:enabled {
  background-color: #005fff !important;
  border-color: #005fff !important;
}

.btn-epilogos, ::after, ::before {
  box-sizing: border-box;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.epilogos-viewer-update-notice-parent, .epilogos-viewer-data-notice-parent, .epilogos-portal-overlay-notice-parent, .epilogos-viewer-overlay-notice-parent {
}

.epilogos-viewer-update-notice-child, .epilogos-viewer-data-notice-child, .epilogos-portal-overlay-notice-child, .epilogos-viewer-overlay-notice-child {
  background: white;
  display: inline-block;
  border: 1px solid #222;
  border-top-width: 1px;
  border-radius: 3px;
  max-width: 320px;
  padding: 10px;
}

.viewer-data-notice-parameter-header {
  font-weight: 600;
  font-variant: small-caps;
  text-align: left;
  font-size: larger;
  padding-bottom: 5px;
  padding-left: 5px;
}

.viewer-data-notice-parameter-body {
  font-weight: 300;
  font-size: smaller;
  text-align: left;
}

.viewer-data-notice-parameter-body-paragraph {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}

.viewer-data-notice-parameter-body-paragraph-note {
  font-size: smaller;
}

.viewer-data-notice-parameter-body-paragraph-controls {
  float: right; 
  padding-top: 15px;
}

.viewer-data-notice-parameter-body-paragraph-warning {
  color: darkgreen;
  font-weight: 600;
  font-size: smaller;
}

.viewer-data-notice-parameter-body-tabix-url {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 5px;
  float: left;
  width: 100%;
}

.viewer-data-notice-parameter-body-tabix-url-label {
  overflow-x: scroll;
  white-space: nowrap;
  font-family: monospace;
  font-size: larger;
  float: left;
  max-width: calc(100% - 45px);
  -webkit-user-select: all;  /* Chrome 49+ */
  -moz-user-select: all;     /* Firefox 43+ */
  -ms-user-select: all;      /* No support yet */
  user-select: all;
  background-color: #ededed;
  border: 1px dotted #cdcdcd;
  margin-right: 10px;
  padding: 5px;
  position: relative;
  top: -4px;
}

.viewer-data-notice-parameter-body-tabix-url-label::-webkit-scrollbar{
/*   width: 0; */
/*   background-color: transparent; */
  height: 0px;
}

.viewer-data-notice-parameter-body-tabix-url-clipboard {
  padding: 0;
  float: left;
}
 
.viewer-data-notice-parameter-body-tabix-url-clipboard > .btn {
  padding: 0 !important;
  font-size: 0.9rem !important;
  padding-bottom: 2px !important;
}

.pretty {
  display: block !important;
  margin-bottom: 0.5em;
  font-size: 18px;
}

.react-toggle--focus .react-toggle-thumb {
  box-shadow: none !important;
}

.react-toggle--checked .react-toggle-track {
  background-color: #ffffff !important;
}

.react-toggle--checked .react-toggle-thumb {
  border-width: 3px !important;
  border-color: rgba(255,255,255,1) !important;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #ffffff !important;
}

.react-toggle-thumb {
  background-color: blue !important;
  border-width: 3px !important;
  border-color: rgba(255,255,255,1) !important;
}

.react-toggle-track {
  background-color: #ffffff !important;
  border: 1px #bdc3c7 solid !important;
}

.column-sort-undefined {
  color: #dcdcdc;
}

.column-sort-defined {
  color: blue;
}

.viewer-overlay-notice, .portal-overlay-notice {
  padding: 12px;
}

.viewer-overlay-notice-header, .portal-overlay-notice-header {
  color: darkred;
  font-size: 1.2em;
  font-weight: 400;
  padding-bottom: 6px;
}

.viewer-overlay-notice-body, .portal-overlay-notice-body {
  font-size: smaller;
  font-weight: 200;
  word-wrap: break-word;
}

.viewer-overlay-notice-body-controls, .portal-overlay-notice-body-controls {
  padding-top: 12px;
}

.bm-menu-wrap {
  transition: all 0.2s ease 0s !important;
}

.icon-start-color {
  color: rgba(0, 127, 255, 1);
  -webkit-animation: icon-color 1.25s infinite ease;
          animation: icon-color 1.25s infinite ease;
}

@-webkit-keyframes icon-color {
  0%{color: rgba(0, 127, 255, 1);}
  50%{color: rgba(230, 230, 230, 1);}
  100%{color: rgba(0, 127, 255, 1);}
}

@keyframes icon-color {
  0%{color: rgba(0, 127, 255, 1);}
  50%{color: rgba(230, 230, 230, 1);}
  100%{color: rgba(0, 127, 255, 1);}
}

.icon-end-color {
  color: rgba(0, 127, 255, 1);
}

.fa-toggle {
  color: white;
  font-size: 1.25rem;
  position: relative;
  top: -1px;
  cursor: pointer;
}

.fa-toggle-gatt {
  color: black;
  font-size: 1.25rem;
  position: relative;
  top: 1px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.fa-toggle-ac, .fa-toggle-cv {
  transform: rotate(180deg);
}

.fa-toggle-pd, .fa-toggle-ht {
  transform: none;
}

.genome-route-annotations-content {
  display: flex;
  width: max-content;
  padding-bottom: 3px;
}

.genome-route-annotations-label {
  font-size: smaller;
  cursor: pointer;
  letter-spacing: 0.0025rem;
}

.genome-route-annotations-label-selected {
  font-weight: bolder;
}

/* customization */

.track-mouseover-menu {
  max-width: unset !important;
  z-index: 20000 !important;
}

.track-mouseover-menu-table {
  padding-top: 2px;
  padding-bottom: 4px;
  width: fit-content;
}

div.track-mouseover-menu-table>div:nth-of-type(even) {
  background: #e0e0e0;
}

.track-mouseover-menu-table-item {
  display: flex;
  justify-content: space-between;
}

.track-mouseover-menu-table-item-label {
  min-width: 110px;
  padding: 0;
  padding-left: 3px;
  margin: 0;
}

.track-mouseover-menu-table-item-label-narrow {
  min-width: 80px;
}

.track-mouseover-menu-table-item-value {
  width: 100%;
  padding: 0;
  padding-right: 3px;
  margin: 0;
  font-weight: 600;
}

.track-mouseover-menu-table-item-label-svg {
  position: relative;
  top: 14px;
}

.track-mouseover-menu-table-item-value-svg {
  position: relative;
  top: 5px;
  margin-right: 5px;
}

.mode-select-button-parent {
  position: relative;
  top: 5px;
  left: -4px !important;
}

.regions-not-found-message {
  text-align: center;
  font-size: smaller;
}

.suggestion-background {
  position: absolute;
  top: 55px;
  left: 0px;
  width: calc(100vw);
  background: black;
  /* https://www.cssportal.com/css-clip-path-generator/ - frame generator */
  clip-path: polygon(
    0% 0%,                                         /* A */
    0% 100%,                                       /* B */ 
    300px 100%,                                    /* C */
    300px 20px,                                    /* D */ 
    calc(100vw - 20px) 20px,                       /* E */ 
    calc(100vw - 20px) calc(100vh - 20px - 60px),  /* F */  
    300px calc(100vh - 20px - 60px),               /* G */ 
    300px 100%,                                    /* H */
    100% 100%, 
    100% 0%
  );
}

.suggestion-background-clip-border {
  z-index: 10001;
  position: absolute;
  top: 55px;
  left: 300px;
  border-color: rgb(80,80,80);
  border-style: solid;
  border-width: thin;
  width: calc(100vw - 300px - 20px);
  height: calc(100vh - 20px - 58px);
  pointer-events: none;
}

.suggestion-table {
  z-index: 10001;
  position: absolute;
  top: 55px;
  left: 20px;
  width: 260px;
  background-color: #111;
  border-color: rgb(80,80,80);
  border-style: solid;
  border-width: thin;
  pointer-events: all;
  overflow-y: hidden;
  transition: opacity 0s;
  opacity: 0;
  filter: drop-shadow(0 0 0.15rem black);
  display: flex;
  flex-direction: column;
}

.suggestion-show {
  transition: opacity 0.2s;
  opacity: 1;
}

.suggestion-hide {
  transition: opacity 0.2s;
  opacity: 0;
  pointer-events: none;
}

.suggestion-table-header-parent {
  color: rgb(187, 187, 187);
  background-color: rgb(82, 82, 82);
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 5px 8px 5px;
  display: flex;
  flex-direction: row;
}

.epilogos-viewer-recommender-input-parent-left-nopill-A {
  display: inline-flex;
  margin-left: 18px;
  bottom: 1px;
  position: relative;
}

.epilogos-viewer-recommender-input-parent-left-nopill-B {
  display: inline-flex;
  bottom: 1px;
  position: relative;
}

.roi-background {
  position: absolute;
  top: 55px;
  left: 0px;
  width: calc(100vw);
  background: black;
  /* https://www.cssportal.com/css-clip-path-generator/ - frame generator */
  clip-path: polygon(
    0% 0%,                                         /* A */
    0% 100%,                                       /* B */ 
    500px 100%,                                    /* C */
    500px 20px,                                    /* D */ 
    calc(100vw - 20px) 20px,                       /* E */ 
    calc(100vw - 20px) calc(100vh - 20px - 60px),  /* F */  
    500px calc(100vh - 20px - 60px),               /* G */ 
    500px 100%,                                    /* H */
    100% 100%, 
    100% 0%
  );
}

.roi-background-clip-border {
  z-index: 10001;
  position: absolute;
  top: 55px;
  left: 500px;
  border-color: rgb(80,80,80);
  border-style: solid;
  border-width: thin;
  width: calc(100vw - 500px - 20px);
  height: calc(100vh - 20px - 58px);
  pointer-events: none;
}

.roi-table {
  z-index: 10001;
  position: absolute;
  top: 55px;
  left: 20px;
  width: 460px;
  background-color: #111;
  border-color: rgb(80,80,80);
  border-style: solid;
  border-width: thin;
  pointer-events: all;
  overflow-y: hidden;
  transition: opacity 0s;
  opacity: 0;
  filter: drop-shadow(0 0 0.15rem black);
  display: flex;
  flex-direction: column;
}

.roi-show {
  transition: opacity 0.2s;
  opacity: 1;
}

.roi-hide {
  transition: opacity 0.2s;
  opacity: 0;
  pointer-events: none;
}

.roi-table-header-parent {
  color: rgb(187, 187, 187);
  background-color: rgb(82, 82, 82);
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 5px 8px 5px;
  display: flex;
  flex-direction: row;
}

.clipboard-alert {
  position: absolute;
  z-index: 20000;
}

.clipboard-alert-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.clipboard-alert-hidden {
  opacity: 0;
  transition: all 250ms linear 2s;
}

.badge-pill {
  -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75) !important;
  box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75) !important;
}